.chat {
	position: absolute;
	bottom: 20%;
	right: 28px;
	padding: 5px;
	width: 300px;
	height: 450px;
	border: 1px ridge #fff;
	border-radius: 4px;
	background-color: #312450;
	font-weight: bold;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.chat .header-chat {
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.chat .header-chat p{
	margin: 0;
	margin-bottom: 8px;
}

.chat .header-chat a{
	cursor: pointer;
}

.chat .content-chat {
	width: 100%;
	background-color: #fff;
	height: 350px;
}

.btn-chat {
	font-size: 12px;
	border-radius: 0;
	height: 28px;
	line-height: 0;
	padding: 5px 10px;
}

.input-chat {
	width: 180px;
	margin-top: 10px;
}

.chat.oculta {
	height: 50px;
	transform: rotate(90deg);
	transform-origin: right top 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	border: none;
	border-radius: 0;
}

.chat.oculta .content-chat {
	display: none;
}

.chat.oculta .footer-chat {
	display: none;
}

