* {
	box-sizing: border-box;
}

input, select, .popover-title, .popover-content {
	color: #000 !important;
}

.orientacao {
	float:left;
	background-color: red;
	min-height: 600px;
	width: 38%;
}

.certo {
	text-decoration: line-through;
}

.certo a {
	display: inline-block;
}

#container-user {
	float:right;
	cursor:pointer;
}

.perfil {
	width: 800px;
	margin: auto;
}

.perfil p{
	font-size: 17px !important;
	margin-bottom: 5px;
}

.bar  {
	width: 800px;
	height: 80px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-bottom: 40px;
}

.progress {
	height: 50px !important;
}

.progress-bar {
	font-size: 40px !important;
	line-height: 50px !important;
}

.bar-progress {
	height: 78px;
	border-radius: 3px;
}

.bar-progress.red{
	background-color:red;
}

.bar-progress.green{
	background-color:green;
}


.trofeu {
	width: 140px;
	text-align: center;
	display: inline-block;
}

.trofeu .fa-trophy {
	font-size: 40px;
	color: gold;
}


/* init */
#container-init {
	background-color: #fff;
}

#container-init #logo{
	position: absolute;
	left: 38%;
	bottom: 35%;
}

#container-init #slogan {
	position: absolute;
	left: 0;
	bottom: 5%;
	font-family: 'Montserrat', sans-serif;
}

#btn-acessar {
	position: absolute;
	left: 44%;
	bottom: 24%;
	background-color: #312450;
	font-size: 12px;
}

.fa-check {
	color: green;
}

.fa-exclamation-circle {
	color: red;
}

/*.inner li a {
	width: 185px;
}*/



