<div id="container-init">
	<img id="logo" src="img/logo.png"/>	
	<div id="slogan" style="text-align: center; width: 100%;">
		<p style="background-color: #312450;color: #fff; font-size: 30px;">Aprenda na prática!</p>
	</div>
	<button id="btn-acessar" style="float: center" ng-click="changeView('/learnvideo')">Acessar</button>
</div>

