<section id="sidebar">
	  <div id="divEtapa">
			<h3>Definindo um novo serviço</h3>
			<p>Nesta etapa você irá cadastrar um novo serviço unitário.</p>
		</div>
		
	<div class="inner">
		<nav>
			<label style="text-align: center;">Passos</label>	
			<ul>
				<li ng-class="{certo: field1 == 'instalacao'}">
					<a href="#">1 - Informe instalacao no valor descrição
						<i class="fa" ng-class="{'fa-check': field1 == 'instalacao', 'fa-exclamation-circle': field1 != 'instalacao' &amp;&amp; field1 != '' &amp;&amp; field1 != undefined}" aria-hidden="true"></i>
					</a>
					
				</li>
				<li ng-class="{certo: field2 == 20}">
					<a href="#">2 - Informe 20 como custo unitário
					<i class="fa" ng-class="{'fa-check': field2 == 20, 'fa-exclamation-circle': field2 != 20 &amp;&amp; field2 != undefined}" aria-hidden="true"></i></a>
				</li>
				<li ng-class="{certo: field3 == 50}">
					<a href="#">3 - Informe 50 valor unitário
						<i class="fa" ng-class="{'fa-check': field3 == 50, 'fa-exclamation-circle': field3 != 50 &amp;&amp; field3 != undefined}" aria-hidden="true"></i>
					</a>
				</li>
				<li ng-class="{certo: field4 == 70}">
					<a href="#">4 - Informe 70 valor técnico
						<i class="fa" ng-class="{'fa-check': field4 == 70, 'fa-exclamation-circle': field4 != 70 &amp;&amp; field4 != undefined}" aria-hidden="true"></i>
					</a>
				</li>
				<li ng-class="{certo: field5 == 55}">
					<a href="#">5 - Informe 55 valor minimo
						<i class="fa" ng-class="{'fa-check': field5 == 55, 'fa-exclamation-circle': field5 != 55 &amp;&amp; field5 != undefined}" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</section>

<div id="wrapper">
<!-- Intro -->
	<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div id="divLbCapitulo">
			<div id="container-user" ng-click="changeView('/meuperfil');">
				<i class="fa fa-user" style="color: #fff"></i>
				Ricardo Grassi
			</div>
			<label>Capitulo 01 - Cadastro de Serviços</label>
		</div>
		<div class="acoes">
			<img src="img/view.png">
			<form style="margin-top: -260px; padding-left: 20px;">
				<div style="margin-bottom: 10px;">
					<div style="width: 80px; display: inline-block; text-align: right;">
						<label for="field1" data-toggle="popover" title="Descrição do Serviço"
						data-content="É a identificação do serviço no sistema.">Descrição:<span style="color:red;">*</span></label>
					</div>					
					<input style="display: inline-block; width: 615px;" type="text" name="field1" ng-model="field1" >
				</div>
			
				<div style="display: block;">						
					<div style="width: 80px; display: inline-block; text-align: right;">
						<label data-toggle="popover" data-toggle="popover" title="Custo Unitário do serviço"
						data-content="Determina o custo unitário do serviço prestado, atraves dele e da configuração de margem de lucro do serviço, o sistema irá calcular o valor unitário." style="width: 120px;" for="field2">Custo Unitário:</label>
					</div>
					<input style="display: inline-block; margin-bottom: 10px;" type="number" name="field2" ng-model="field2"/>
					
					<div style="width: 125px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Valor Unitário do serviço" data-content="Determina o valor que será cobrado para este serviço. Ele é determinado pelo custo unitário e pela margem de lucro." style="width: 120px;" for="field3">Valor Unitário:</label>							
					</div>
					<input style="margin-bottom: 10px; display: inline-block;" type="number" name="field3" ng-model="field3"/> 
				</div>

				<div style="display: block;">
					<div style="width: 80px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Valor técnico do serviço" data-content="Determina o valor a ser repassado ao técnico na prestação deste serviço." style="width: 120px;" for="field4">Valor Técnico:</label>
					</div>
					<input style="display: inline-block; margin-bottom: 10px;" type="number" name="field4" ng-model="field4"/>
					
					<div style="width: 125px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Mínimo do preço Unitário" data-content="Determina o valor minimo cobrado neste serviço, quando aplicado o desconto." style="width: 120px;" for="field5">Mínimo Preço Unitário:</label>							
					</div>
					<input style="margin-bottom: 10px; display: inline-block;" type="number" name="field5" ng-model="field5"/> 
					<div style="width: 120px; display: inline-block; text-align: right;">
						<input type="checkbox"/>
					</div>
					<label data-toggle="popover" title="Status do Serviço" data-content="Determina se o serviço está ativo ou não. Caso inativo não será possivel utiliza-lo no sistema." style="width: 40px; margin-bottom: 10px; display: inline-block;" for="field3">Ativo</label>	
				</div>

				<div style="display: block;">
					<div style="width: 270px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Cobrar o produto quando o mesmo for locado" data-content="Determina se será cobrado do cliente em caso de locação do produto vinculado a este serviço." style="width: 200px; margin-bottom: 10px; display: inline-block;" for="field3">Cobrar do cliente quando locação?</label>
					</div>
					<input type="checkbox" style="display: inline-block; margin-bottom: 10px;"/>
				</div>	

				<div style="display: block;">
					<div style="width: 270px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Soma pontos de instalação" data-content="Determina se será contabilizado os pontos na prestação de serviço" style="width: 200px; margin-bottom: 10px; display: inline-block;" for="field3">Soma pontos de instalação?</label>
					</div>
					<input type="checkbox" style="display: inline-block; margin-bottom: 10px;"/>
				</div>

				<div style="display: block;">
					<div style="width: 270px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Permite alterar a descrição no lançamento" data-content="Determina a possibilidade alteração da descrição do serviço no lançamento." style="width: 250px; margin-bottom: 10px; display: inline-block;" for="field3">Permite alterar descrição no lançamento?</label>			
					</div>
					<input type="checkbox" style="display: inline-block; margin-bottom: 10px;"/>
				</div>

				<div style="display: block;">
					<div style="width: 120px; display: inline-block; text-align: right;">
						<label data-toggle="popover" title="Tipo do Serviço" data-content="Dertermina o tipo de serviço que será apresentado na nota fiscal eletronica." style="width: 100px; margin-bottom: 10px; display: inline-block;" for="field3">Tipo de Serviço:<span style="color:red;">*</span></label>			
					</div>
					<select name="tpServicos" style="font-size: 12px;">
					  <option>1102 - Vigilancia, segurança ou monitoramento armado</option>
					  <option>Vigilancia, segurança ou monitoramento sem arma</option>
					  <option>Vigilancia, segurança</option>	
					  <option>Vigilancia, escolta</option>
					</select>
				</div>
				
			</form>
		</div>
		<div>
			<div style="float: left">
				<button ng-click="changeView('');" style="text-align: left">Etapa Anterior</button>
			</div>
			<div style="float: right;">
				<button ng-disabled="(field1 != 'teste' || field2 != 20 || field3 != 50 || field4 != 70 || field5 != 55)" ng-click="changeView('/learn');" style="text-align: right">Próxima Etapa</button>
			</div>
		</div>		
	</section>
</div>
<div class="chat" ng-class="{oculta: chathidden}">
	<div class="header-chat">
		<p><a ng-click="hidechat()">Tire suas dúvidas aqui</a></p>
	</div>
	<div class="content-chat">
		
	</div>
	<div class="footer-chat">
		<input type="text" class="input-chat"/>
		<button class="btn-chat">Enviar</button>
	</div>
</div>

