<section id="sidebar">
	  <div id="divEtapa">
			<h3>Conhecendo o processo</h3>
			<p>Nesta etapa você irá acompanhar como é realizado o cadastro de um serviço unítário.</p>
		</div>
</section>

<div id="wrapper">
<!-- Intro -->
	<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div id="divLbCapitulo">
			<div id="container-user" ng-click="changeView('/meuperfil');">
				<i class="fa fa-user" style="color: #fff"></i>
				Ricardo Grassi
			</div>
			<label>Capitulo 01 - Cadastro de Serviços</label>
		</div>
		<div class="acoes">
			<video style="margin-right: 155px;" width="732" height="500" controls>
			  <source src="media/servicos_media.mp4" type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
		</div>
		<div id="btnProximaEtapa">
			<button ng-click="changeView('/learn');">Próxima Etapa</button>
		</div>
	</section>
</div>