<div id="wrapper">
<!-- Intro -->
	<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div id="divLbCapitulo">
			<div id="container-user" ng-click="changeView('/meuperfil');">
				<i class="fa fa-user" style="color: #fff"></i>
				Ricardo Grassi
			</div>
		</div>
		<div class="perfil">
			<h3 style="text-align: center; margin-top:30px;">Suas certificações</h3>
			<div class="medalhas">
				<div class="trofeu">
					<img src="img/certification.png"/>
					<p style="color: #fff">Inicial</p>
				</div>
				<div class="trofeu">
					<img src="img/certification.png"/>
					<p style="color: #fff">Cadastros</p>
				</div>
				<div class="trofeu">
					<img src="img/certification.png"/>
					<p style="color: #fff">Controle de Frota</p>
				</div>
				<div class="trofeu">
					<img src="img/certification.png"/>
					<p style="color: #fff">Faturamento</p>
				</div>
				<div class="trofeu">
					<img src="img/certification.png"/>
					<p style="color: #fff">Financeiro</p>
				</div>
			</div>

			<h3 style="text-align: center; margin-top:100px;">Módulos que você ainda não concluiu</h3>

			<div class="modulo">
				<p style="color: #fff">Operacional</p>
				<div class="progress">
			    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
			      50%
			    </div>
			  </div>
			</div>

			<p style="color: #fff">Comercial</p>
			<div class="progress">
			  <div class="progress-bar progress-bar-warning" role="progressbar"
			  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
			    40%
			  </div>
			</div>

			<p style="color: #fff">Compras</p>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar"
			  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
			    90%
			  </div>
			</div>
		</div>
		<div id="btnVoltar" style="float: left;">
			<button ng-click="changeView('/learn');">Voltar</button>
		</div>
	</section>

</div>